<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h1>登録完了</h1>
		<p>
			登録申請を受け付けました。
		</p>
		<p>
			<strong><%= @master.email %></strong> 宛にログイン用のパスワードをお送りしています。
			こちらを利用して管理画面にログインして下さい。
			メールが届かない場合、lmlab.asiaドメインからの受信が可能な状態になっているか、
			または入力したアドレスに間違いがないかご確認をお願いします。
		</p>

		<p>
			<%= link_to 'ログインページに戻る', login_path, class: "btn btn-default" %>
		</p>
	</div>
</div>
