<p id="notice">
	<%= notice %>
</p>
<table class="table">
	<tbody>
		<tr>
			<th>マスター名</th><td> <%= @master.name %> </td>
		</tr>
		<tr>
			<th>登録日</th><td> <%= @master.created_at.strftime("%Y/%m/%d") %> </td>
		</tr>
		<tr>
			<th>自己紹介</th><td> <%= @master.desc %> </td>
		</tr>
	</tbody>
</table>
