<h1>営業スケジュール</h1>
<style>
img.thumbnail{
  width: 128px;
}
</style>
<p>個別に記載がない場合の営業時間は「19:30-23:00」です。</p>
<p style="text-align: right"><a href="pasts?p=0" class="btn btn-default">開催済み</a></p>

<%= render 'index' %>

