<h1>SINGLESって？</h1>
<%= image_tag "rack.jpg", class: "img-thumbnail", style: "float: right; margin-left: 12px; max-width: 400px" %>
<p>
Common Bar SINGLESは、日替わりマスター制という特殊な経営形態を取ったバーです。大阪の梅田にあります。それぞれマスターの個性を活かしたメニュー、カクテル、イベントが毎日開催されています。10席ほどの小さなバーなので、最初はちょっと入るのに勇気が要るかもしれませんが、きっと素敵な出会いや発見があると思います。
</p>
<h2>マスター募集中！</h2>
<p><strong>皆さんもSINGLESでマスターやってみませんか？</strong></p>
<p>Common Bar SINGLESでは一緒にお店を盛り上げていただけるマスターさんを随時募集しています。
SINGLESは毎日カウンターに立つマスターが変わるマスター日替わり制度のお店です。
日替わりマスター制度の特長は日々違う個性のバーが展開されています。
例えば、撮り溜めた写真を展示したり、推理合戦したり、自慢の手料理をふるまったり、ご自身で発見した美味しいお酒をふるまったりなど、できることは様々です。
また日替わりマスター制度の良いところの一つとして普段異業種に携わっているマスターと交流ができることです。職場以外のところでの出会いは、きっとあなたの世界を広げてくれることでしょう！
</p>
<p>
そんなSINGLESであなたもマスターをやってみませんか？
</p>

<p>
<%= link_to "マスターになるための説明を見る", new_inquiry_path, class: "btn btn-info" %>
</p>

<h2>このサイトは？</h2>
<p>
バーのいちマスターが非公式に立ち上げた「SINGLESのファンサイト」です。管理用のツールでマスターさんの業務を応援したり、まだSINGLESを知らない人にちょっとでもその魅力を伝えることが出来たら良いな、という思いで作ってみました。まだまだ、何もないサイトですが、少しずつ改善してゆけるよう、感想や意見など頂けたら有難いです。当サイトはRuby on Railsで実装されていて、Githubでソースコードを公開しています。
</p>
<p><%= link_to URL_GITHUB, URL_GITHUB %></p>
<p>現在、開発者及び更新作業者を募集しています。例えば、とりあえず1ヶ月だけ更新手伝ってみようかな、、みたいなチョイ参加もOKですし、どっぷり浸かってRailsでウェブシステム運用するところまで、実践経験を積むのも面白いと思います（私が始めた動機はこれです）。まずは（マスター向けMLで）相談してみてください。</p>
