<h1>SINGLESって？</h1>
<img src="assets/menu.jpg" class="img-thumbnail" style="float: right; margin-left: 12px; max-width: 320px"/>
<p>
Common Bar SINGLESは、日替わりマスター制という特殊な経営形態を取ったバーです。それぞれマスターの個性を活かしたメニュー、カクテル、イベントが毎日開催されています。10席ほどの小さなバーなので、最初はちょっと入るのに勇気が要るかもしれませんが、きっと素敵な出会いや発見があると思います。
</p>
<p>公式サイトでは、新しいマスターを常時募集しています。2時間ほどの講習（要予約）を受けて頂くだけで、あなたもバーテンダーになることが出来ます！</p>
<p><a href="http://cb-singles.com">http://cb-singles.com</a></p>
<h2>このサイトは？</h2>
<p>
バーのいちマスターが非公式に立ち上げた「SINGLESのファンサイト」です。管理用のツールでマスターさんの業務を応援したり、まだSINGLESを知らない人にちょっとでもその魅力を伝えることが出来たら良いな、という思いで作ってみました。まだまだ、何もないサイトですが、少しずつ改善してゆけるよう、感想や意見など頂けたら有難いです。当サイトはRuby on Railsで実装されていて、Githubでソースコードを公開しています。開発者を随時募集していますので、我こそはという方は是非ご参加下さい！
</p>
<p>
<p><%= link_to URL_GITHUB %></p>



