<h1>アクセス</h1>
<p>住所: 大阪府大阪市北区堂山町10-16 叶レジャービル2F202</p>
<p>
阪急東通り商店街のアーケードが切れるところまで歩いて左折、
そこから徒歩30歩くらいの左手のビルの２階になります。</p>

<iframe width="643" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.jp/maps/ms?source=embed&amp;hl=ja&amp;geocode=&amp;ie=UTF8&amp;msa=0&amp;msid=203674182246099415988.00046ae59933f01f4a2e8&amp;t=m&amp;brcurrent=3,0x6000e692f6c597ad:0x229707b075452dc5,1&amp;ll=34.703835,135.502796&amp;spn=0.006174,0.013797&amp;z=16&amp;output=embed"></iframe><br /><small>より大きな地図で <a href="https://maps.google.co.jp/maps/ms?source=embed&amp;hl=ja&amp;geocode=&amp;ie=UTF8&amp;msa=0&amp;msid=203674182246099415988.00046ae59933f01f4a2e8&amp;t=m&amp;brcurrent=3,0x6000e692f6c597ad:0x229707b075452dc5,1&amp;ll=34.703835,135.502796&amp;spn=0.006174,0.013797&amp;z=16" style="color:#0000FF;text-align:left">シングルズ</a> を表示</small>
<p>ビルの入り口の写真です。オレンジ色の看板が出ています。</p>
<%= image_tag "access.png",class: "img-thumbnail" %>


