<h1>メニュー</h1>
<p>各種ビールにリキュール、焼酎、ウィスキーなど幅広く揃っています。<br/>
ソフトドリンクもホット・アイス取り揃えています。<br/>
そして何より各マスターさん得意のカクテルを是非、ご堪能下さい。<br/>
</p>
<p>
※イベント等により参加費・チャージが設定されることがあります。普段はチャージ無しです。<br/>
※仕入れ価格の変動等で価格が改訂されることがあります。当日のマスターに確認して下さい。<br/>
</p>
<div class="row">
	<div class="col-md-6">
<pre>【BEER】
スーパードライ 500円
エビス 500円
キリンラガー 500円
オリオンビール 500円
ハイネケン 600円
コロナビール 500円
ZIMA 600円
ギネス 600円

【焼酎】
紅乙女 500円
黒甕 500円
二階堂 500円

【泡盛】
久米仙 500円

【GIN】
タンカレー 500円
ボンベイサファイア 500円
タンカレーNO.10 900円

【VOCKA】
スミノフ 500円
ズブロッカ 500円

【SCOTCH】
カティサーク 500円
シーバス・リーガル１２年 500円
ラフロイグ１０年 600円

【IRISH WHISKEY】
ブッシュミルズ１０年 500円

【BOURBON WHISKEY】
I.W.ハーパー 500円
ジャック・ダニエル 500円
メーカーズ・マーク 500円
ワイルド・ターキー８年 500円
ブラントンブラック 600円

【BRANDY】
カミュVSOP 600円

【TEQUILA】
クエルボ・レポサド 500円

【RUM】
バカルディ・ホワイト 500円
マイヤーズ・ダーク 500円
ロンリコ・ホワイト 500円

【LIQUEUR】
チンザノ・ドライ/ロッソ/ビアンコ/オランチョ 500円
カシス 500円
ディタ 500円
ぺシェ 500円
アマレット 500円
ペルノ 500円
カンパリ 500円
コアントロー 500円
カルーア 500円
マリブ 500円
ティフイン 500円
マンゴヤン 500円
ボルス・ブルー 500円

【果実酒】
梅酒 500円
桂花陳酒 500円
杏露酒 500円

【COCKTAIL】
※マスターにお尋ねください。 600円/杯
☆ソーダ・トニック・ジンジャー・ジュース割は上記ドリンク料金+100円

【SOFT DRINK】
ウーロン茶 400円
ジャスミン茶 400円
オレンジＪ 400円
グレープフルーツＪ 400円
パイナップルＪ 400円
トマトＪ 400円
ジンジャーエール 400円
ペリエ 400円
コーラ 400円
珈琲 400円
紅茶 400円
牛乳 400円

【FOOD】
オイルサーディン 300円
チョコレート 200円
ミックスナッツ 200円
他つまみ各種 200円</pre>
<p class="text-muted">2014.10.10 おねすと提供</p>
	</div>
	<div class="col-md-6">
<%= image_tag "menu.jpg", class: "img-thumbnail", style: "float: right; margin: 0 0 12px 12px; max-width: 400px" %>
<%= image_tag "food.jpg", class: "img-thumbnail", style: "float: right; margin: 0 0 12px 12px; max-width: 400px" %>
	</div>
</div>

