<h1>メニュー</h1>
<%= image_tag "menu.jpg", class: "img-thumbnail", style: "float: right; margin-left: 12px; max-width: 400px" %>
<p>各種ビールにリキュール、焼酎、ウィスキーなど幅広く揃っています。<br/>
ソフトドリンクもホット・アイス取り揃えています。<br/>
そして何より各マスターさん得意のカクテルを是非、ご堪能下さい。<br/>
※仕入れ価格の変動等で価格が改訂されることがあります。料金は当日のマスターに確認して下さい。<br/>
</p>
<div id="left"><strong>【BEER】</strong></p>
<ul>
<li>スーパードライ 500円</li>
<li>エビス 500円</li>
<li>キリンラガー 500円</li>
<li>オリオンビール 500円</li>
<li>ハイネケン 600円</li>
<li>コロナビール 500円</li>
<li>ZIMA 600円</li>
<li>ギネス 600円</li>
</ul>
<p><strong>【焼酎】</strong></p>
<ul>
<li>紅乙女 500円</li>
<li>黒甕 500円</li>
<li>二階堂 500円</li>
</ul>
<p><strong>【泡盛】</strong></p>
<ul>
<li>久米仙 500円</li>
</ul>
<p><strong>【GIN】</strong></p>
<ul>
<li>タンカレ 500円</li>
<li>ボンベイサファイア 500円</li>
</ul>
<p><strong>【VOCKA】</strong></p>
<ul>
<li>スミノフ 500円</li>
<li>ズブロッカ 500円</li>
</ul>
<p><strong>【SCOTCH】</strong></p>
<ul>
<li>バランタインゴールドシール１２年 500円</li>
<li>シーバス・リーガル 500円</li>
<li>ラフロイグ 600円</li>
</ul>
<p><strong>【IRISH WHISKEY】</strong></p>
<ul>
<li>ブッシュミルズ 500円</li>
</ul>
<p><strong>【BOORBON WHISKEY】</strong></p>
<ul>
<li>アーリータイムズ 500円</li>
<li>I.W.ハーパー 500円</li>
<li>ジャック・ダニエル 500円</li>
<li>メーカーズ・マーク 500円</li>
<li>ワイルド・ターキー 500円</li>
<li>ブラントンブラック 600円</li>
</ul>
<p><strong>【BRANDY】</strong></p>
<ul>
<li>カミュVSOP 600円</li>
</ul>
<p><strong>【TEQUILA】</strong></p>
<ul>
<li>ホセ・クエルボ 500円</li>
<li>エラドゥーラ 500円</li>
</ul>
</div>
<div id="right"><strong>【RUM】</strong></p>
<ul>
<li>バカルディ・ホワイト 500円</li>
<li>マイヤーズ 500円</li>
<li>ロンリコ・ホワイト 500円</li>
<li>レモンハート・ホワイト 500円</li>
<li>レモンハート・デメララ 500円</li>
</ul>
<p><strong>【LIQUEUR】</strong></p>
<ul>
<li>チンザノ・ドライ/ロッソ/ビアンコ/オランチョ 500円</li>
<li>カシス 500円</li>
<li>ディタ 500円</li>
<li>ぺシェ 500円</li>
<li>ミュール 500円</li>
<li>アマレット 500円</li>
<li>ペルノ 500円</li>
<li>カンパリ 500円</li>
<li>カルーア 500円</li>
<li>マリブ 500円</li>
<li>ティフイン 500円</li>
<li>マンゴヤン 500円</li>
<li>ボルス・ブルー 500円</li>
</ul>
<p><strong>【果実酒】</strong></p>
<ul>
<li>梅酒 500円</li>
<li>桂花陳酒 500円</li>
<li>杏露酒 500円</li>
</ul>
<p><strong>【COCKTAIL】</strong></p>
<ul>
<li>※マスターにお尋ねください。 600円/杯<br />
☆ソーダ・トニック・ジンジャー・ジュース割は上記ドリンク料金+100円</li>
</ul>
<%= image_tag "food.jpg", class: "img-thumbnail", style: "float: right; margin-left: 12px; max-width: 400px" %>
<p><strong>【SOFT DRINK】</strong></p>
<ul>
<li>ウーロン茶 400円</li>
<li>ジャスミン茶 400円</li>
<li>オレンジＪ 400円</li>
<li>グレープフルーツＪ 400円</li>
<li>パイナップルＪ 400円</li>
<li>トマトＪ 400円</li>
<li>ジンジャーエール 400円</li>
<li>ペリエ 400円</li>
<li>コーラ 400円</li>
<li>珈琲 400円</li>
<li>紅茶 400円</li>
</ul>
<p><strong>【FOOD】</strong></p>
<ul>
<li>オイルサーディン 300円</li>
<li>チョコレート 200円</li>
<li>ミックスナッツ 200円</li>
<li>他つまみ各種 100円</li>
</ul>
</div>

