<h1>メニュー</h1>
<p>各種ビールにリキュール、焼酎、ウィスキーなど幅広く揃っています。<br/>
ソフトドリンクもホット・アイス取り揃えています。<br/>
そして何より各マスターさん得意のカクテルを是非、ご堪能下さい。<br/>
</p>
<p>
※イベント等により参加費・チャージが設定されることがあります。普段はチャージ無しです。<br/>
※価格は当日のマスターに確認して下さい。<br/>
</p>
<div class="row">
	<div class="col-md-6">
<pre>【BEER】
スーパードライ
エビス
キリンラガー
オリオンビール
ハイネケン
コロナビール
ZIMA
ギネス

【焼酎】
紅乙女
黒甕
二階堂

【泡盛】
久米仙

【GIN】
タンカレー
ボンベイサファイア
タンカレーNO.10

【VOCKA】
スミノフ
ズブロッカ

【SCOTCH】
カティサーク
シーバス・リーガル１２年
ラフロイグ１０年

【IRISH WHISKEY】
ブッシュミルズ１０年

【BOURBON WHISKEY】
I.W.ハーパー
ジャック・ダニエル
メーカーズ・マーク
ワイルド・ターキー８年
ブラントンブラック

【BRANDY】
カミュVSOP

【TEQUILA】
クエルボ・レポサド

【RUM】
バカルディ・ホワイト
マイヤーズ・ダーク
ロンリコ・ホワイト

【LIQUEUR】
チンザノ・ドライ/ロッソ/ビアンコ/オランチョ
カシス
ディタ
ぺシェ
アマレット
ペルノ
カンパリ
コアントロー
カルーア
マリブ
ティフイン
マンゴヤン
ボルス・ブルー

【果実酒】
梅酒
桂花陳酒
杏露酒

【COCKTAIL】
※マスターにお尋ねください。

【SOFT DRINK】
ウーロン茶
ジャスミン茶
オレンジＪ
グレープフルーツＪ
パイナップルＪ
トマトＪ
ジンジャーエール
ペリエ
コーラ
珈琲
紅茶
牛乳

【FOOD】
オイルサーディン
チョコレート
ミックスナッツ
他つまみ各種</pre>
<p class="text-muted">
	2018.01.18 価格を非表示としました(イベントごとに変動があるため)<br/>
	2014.10.10 おねすと提供</p>
	</div>
	<div class="col-md-6">
<%= image_tag "menu.jpg", class: "img-thumbnail img-responsive", style: "float: right; margin: 0 0 12px 12px" %>
<%= image_tag "food.jpg", class: "img-thumbnail img-responsive", style: "float: right; margin: 0 0 12px 12px" %>
	</div>
</div>
