// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron{
  background-image: image-url("main.jpg");
}

.jumbotron .container{
  background-color: rgba(255,255,255,0.7);
  border-radius: 8px;
}

.jumbotron h1{
  opacity: 1.0;
  color: #000;
  font-size: 36px;
}

.jumbotron p{
  font-size: 20px;
}

