<div class="row">
<div class="col-md-12">
<h1>マスターになるために</h1>
<% if @inquiry.errors.any? %>
<div class="alert alert-warning" role="alert">申込内容に入力漏れがあります。</div>
<% end %>
</div>
</div>
<div class="row">
<div class="col-md-6">
<p>
「説教バー」というマスター講習を受けていただければ誰でもSINGLESのマスターになることができます！
皆さんもいっしょにSINGLESの試みを盛り上げていきませんか？
「説教バー」では皆さんに実際にバーの営業に関する一連の作業を体験していただきます。
お酒に詳しくない方でも、基本的なカクテルの作り方などはご説明させていただきます。
</p>
<p>
説教バー」は、原則的に毎月第2月曜の20時から開催されます。
日程は念のためSINGLESのスケジュールをご覧頂き「説教バー」の開催日を確認の上、メールにて申し込みをして下さい。
</p>
<p>
＊どうしてもご都合が合わない場合は日程調整が可能かどうか、まずはメールにてお問い合わせください。
</p>

<h3>説教バーからマスターデビューまでの流れ</h3>
<ol>
  <li>「運営ルール」と「運営マニュアル」について説明と読み合わせ<br/>
    お店の趣旨をご理解していただいた上、開店から閉店までの一連の流れを説明していきます。</li>
  <li>マスター実習<br/>
    ご注文を聞き、お酒を作り、お代金をいただくという実際にバーを営業をする一連の作業を体験してもらいます。</li>
  <li>実習終了後マスター登録<br/>
    お名前・住所・連絡先電話番号・メールアドレスを登録していただきます。</li>
  <li>後日登録いただいたメールアドレスにCommon Bar SINGLESマスターのメーリングリストへのご登録依頼が届きます。</li>
  <li>マスターのメーリングリストに登録します</li>
  <li>common bar SINGLESのスケジュールを見てシフトが埋まっていない日を確認します</li>
  <li>そしてメーリングリストへシフト申請<br/>
    シフトはメーリングリストの先着順に決定します。</li>
  <li>マスターデビュー</li>
</ol>

<h3>説教バー申し込み</h3>
<%= render 'form' %>
</div>

<div class="col-md-6">
  <%= image_tag "rack2.jpg", class: "img-thumbnail", style: "float: right; margin-left: 12px; max-width: 400px" %>
</div>
</div>
