<div class="row">
<div class="col-md-6">
<h1>説教バー申込完了</h1>
<p>
お申し込みありがとうございました。
登録頂いたアドレスに確認のメールを自動送信しています。
もしメールが届いていない場合、こちらからお送りするご返信も同様に届かない可能性がございますので、
メールをご確認の上、しばらく待っても届かない場合は、再度送信して頂く等の対応をお願い致します。
</p>
<p>
正式なお返事まで今しばらくお待ちください。
</p>
</div>
</div>
