<div class="jumbotron">
  <div class="container">
    <h1>Welcome to SINGLES!</h1>
    <p> ここはメニューに“マスター”があるBAR。
    <% if @events.length == 1 && @events[0].master.id == 1 then %>
    <% elsif @events.length == 1 then %>
      今日のマスターは“<%= @events[0].masters_name %>”です。
    <% elsif @events.length == 2 then %>
      今日のマスターは“<%= @events[0].masters_name + "&" + @events[1].masters_name %>”です。
    <% end %>
    </p>
  </div>
</div>
